#mainb{
    background-image: url("background.jpg");
  }
  .container1{
    align-items: center;
    justify-content: center; 
    padding: 35px 35px;
  }
  #tables{
    display:none;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border: solid black 2px;
  }
  .table_data{
    margin-top: 40px;
  }
  .container2{
    padding-top: 40px;
    text-align: center;
    color: rgb(223, 110, 35);
    padding: 0;
    text-align:center;
   
    
  }
  